@import './vars.scss';

.contact-form-container {
    width: 90%;
    margin: 5%;

    form {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    @media screen and (min-width: $tablet) {
        width: 85%;
        margin: 7.5%;
    }

    @media screen and (min-width: $desktop) {
        width: 80%;
        margin: 10%;
    }
}

.form-input {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;

    label {
        font-family: "IBM Plexo Mono", monospace;
        font-size: 11px;
        margin: 0;
        padding: 0;
    }

    input {
        -webkit-appearance: none;
        appearance: none;
        width: 100%;
    }

    textarea {
        -webkit-appearance: none;
        appearance: none;
        width: 100%;
    }
}

.form-name {
    width: 100%;

    @media screen and (min-width: 600px) {
        width: 47.5%;
        margin: 0 2.5% 0 0;
    }
}

.form-email {
    width: 100%;
    margin: 0;

    @media screen and (min-width: 600px) {
        width: 47.5%;
        margin: 0 0 0 2.5%;
    }
}

.form-message {
    width: 100%;
}