.project-container {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: rgba(0,0,0,.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.view-projects {
    position: absolute;
    z-index: 100;

    p {
        font-family: "IBM Plex Mono", monospace;
        font-size: 15px;
        margin: 0;
        padding: 0;
        line-height: 16px;
        text-transform: uppercase;
    }
}

.project-mask {
    position: absolute;
    z-index: 10;
    overflow: hidden;

    .project-square {
        position: absolute;
        overflow: hidden;
        z-index: 11;
    }
}

.web-link {
    opacity: 0;
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,.4);
    transition: opacity .5s ease;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        background: rgba(255,255,255,.8);
        padding: 10px 15px;
        font-family: "IBM Plex Mono", monospace;
        font-size: 16px;
    }

    &:hover {
        opacity: 1;
        transition: opacity .5s ease;
    }
}

.project-iframe {
    position: absolute;
    z-index: 9;
    overflow: hidden;
}