.project-container {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: rgba(0,0,0,.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    iframe {
        overflow-y: hidden;
    }
}

.project-svg {
    position: absolute;
    z-index: 10;
}

.white-layer {
    width: 100%;
    height: 100vh;
    z-index: 10;
    position: absolute;
    background: rgba(255,255,255,1);
    clip-path: polygon(5% 5%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
}

.black-layer {
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 9;
    background: rgba(0,0,0,1);
}

.project-iframe {
    position: absolute;
    z-index: 9;
}